@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Quicksand:wght@400;500&family=Raleway:wght@400;500;600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Yanone+Kaffeesatz:wght@300;400;500&display=swap');

:root {
    --acm-blue: #0085CA;
    --byui-blue: #006EB6;
    --dark-blue: #214491;
    --light-blue: #A0D4ED;
    --gray: #949598;
    --white: #ffffff;
    /* --accent-green: #8CBA54; */
    --accent-green: #70A288;
    --accent-light-green: #BBD592;
    /* --accent-orange: #DF863C; */
    --accent-orange: #D5896F;
    --accent-dark-orange: #BB6637;
    /* --accent-yellow: #F6CD45; */
    --accent-yellow: #DAB785;

    --main-font: "Lato", sans-serif;
    --header-font: "Space Mono", sans-serif;
}

body {
    margin: auto;
    width: 50%;
    background-color: var(--acm-blue);
    font-family: var(--main-font);
    color: var(--white);
}
header {
    text-align: center;
    font-family: var(--header-font);
}
h3 {
    font-style: italic;
    margin: 5px 0px 5px 0px;
}
h2 {
    font-family: var(--header-font);
    margin-top: 26px;
    margin-bottom: 0px;
}
#title1 {
    margin-bottom: 0px;
}
#title2 {
    margin-top: 0px;
}
p {
    margin-top: 12px;
}
main {
    margin-bottom: 86px;
}
.links {
    display: flex;
    flex-direction: column;
}
.main_link_div {
    padding: 20px;
    margin: 15px;
    text-align: center;
    background-color: var(--accent-orange);
    color: var(--white);
    font-size: large;
    font-style: oblique;
    width: 60%;
    align-self: center;
    border-radius: 10px;
    /* border: 2px solid var(--light-blue); */
}
a {
    color: var(--white);
    text-decoration: none;
}